<body class="static-pages-body">

    <div class="top-container">
      <h1 class="header">All Recipes</h1>
    </div>

    <div class="left-container">
      <ul class="navbar">
        <li><%= link_to 'Home', root_path %></li>&nbsp&nbsp
        <li><%= link_to 'About', about_path %></li>&nbsp&nbsp
        <li><%= link_to 'All Users', users_path %></li>&nbsp&nbsp
        <li><%= link_to 'All Recipes', recipes_path %></li>&nbsp&nbsp
      </ul>
    </div>

    <div class="right-container">
      <div class="table-styling">
        <table width ='300' class ="box">
          <tbody>

             <tr>
               <td><img class="images" src ="http://shelharrington.com/wp-content/uploads/2013/05/Father-Knows-Best.jpg"> </img> <%= @recipe_array.sample %></td>
               <td><img class="images" src ="http://shelharrington.com/wp-content/uploads/2013/05/Father-Knows-Best.jpg"> </img><%= @recipe_array.sample %></td>
               <td><img class="images" src ="http://shelharrington.com/wp-content/uploads/2013/05/Father-Knows-Best.jpg"> </img><%= @recipe_array.sample %></td>
             </tr>
             <tr>
               <td><img class="images" src ="http://shelharrington.com/wp-content/uploads/2013/05/Father-Knows-Best.jpg"> </img><%= @recipe_array.sample %></td>
               <td><img class="images" src ="http://shelharrington.com/wp-content/uploads/2013/05/Father-Knows-Best.jpg"> </img><%= @recipe_array.sample %></td>
               <td><img class="images" src ="http://shelharrington.com/wp-content/uploads/2013/05/Father-Knows-Best.jpg"> </img><%= @recipe_array.sample %></td>
             </tr>
             <tr>
               <td><img class="images" src ="http://shelharrington.com/wp-content/uploads/2013/05/Father-Knows-Best.jpg"> </img><%= @recipe_array.sample %></td>
               <td><img class="images" src ="http://shelharrington.com/wp-content/uploads/2013/05/Father-Knows-Best.jpg"> </img><%= @recipe_array.sample %></td>
               <td><img class="images" src ="http://shelharrington.com/wp-content/uploads/2013/05/Father-Knows-Best.jpg"> </img><%= @recipe_array.sample %></td>
             </tr>
          </tbody>
        </table>
      </div>
    </div>
</body>
