<h1>Show ~Individual~ Recipe</h1>

Name: <%= @recipe.name %>
<br>Prep Time: <%= @recipe.prep_time %>
<br>Occasion: <%= @recipe.occasion %>
<br>Ethnicity: <%= @recipe.ethnicity %>

<br><br>Description:<p><%= @recipe.description %></p>
