<h1>Name:</h1> <%= @user.first_name %> <%= @user.last_name %>
<h2>Email:</h2> <%= @user.email_address %>

<h1>Recipes</h1>

<% @recipe.each do |recipe| %>
  <%= recipe.name %>
  <%= link_to 'Show', recipe_path(recipe) %>
  <%= link_to 'Edit', edit_recipe_path(recipe) %>
  <%= link_to 'Delete', recipe, method: :delete %>
<% end %>

<br><br>

<%= link_to 'Edit Profile', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
<%= link_to 'New Recipe', new_recipe_path %>
